* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: Montserrat, sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto, sans-serif;
  color: #777777;
  font-weight: 500; }

.btn {
  width: 27%;
  padding: 0.5rem;
  margin: 1.4rem 0;
  color: #fff;
  border: 1px solid;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 3px;
  transition: 0.3s; }

.btn:hover {
  background-color: #5adddd; }

.btn-green {
  background-color: #24adad; }

.btn-black {
  background-color: #000; }

.btn-black:hover {
  background-color: #333333; }

#allign {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../../img/shopping-business-money-pay-50987.jpg") no-repeat center center/cover; }

form {
  width: 60%;
  height: 85%;
  margin: auto;
  padding: 2rem 1rem;
  border: 2px solid #24adad;
  border-radius: 3px;
  position: relative;
  overflow: hidden; }

form::before {
  position: absolute;
  content: "";
  top: -0.5rem;
  right: 0;
  width: 3rem;
  height: 3rem;
  background: url("../../img/ghanaflag.png") no-repeat center center/cover; }

#task-header {
  margin: 1rem 0; }

#cart {
  height: 80%; }

label {
  display: block;
  margin-bottom: 0.6rem;
  color: #9c9c9c; }

#task-box {
  color: #000;
  height: 2.5rem;
  display: block;
  width: 100%;
  border: none;
  background-color: #fff;
  font-size: 1.1rem; }

#task-box:focus {
  outline: none; }

hr {
  margin-bottom: 1.3rem;
  border: none;
  border-bottom: 1px solid #cccccc; }

h3 {
  margin-bottom: 0.3rem; }

.tasks {
  list-style: none;
  border: 1px solid #d4d3d3;
  border-radius: 3px; }

.task-items {
  padding: 0.8rem 1rem;
  border: none;
  border-bottom: 1px solid #d4d3d3;
  display: flex;
  justify-content: space-between;
  transition: all 0.5s ease; }

.task-items:last-child {
  border-bottom: none; }

.task-items i {
  font-size: 0.8rem;
  color: #ccbc2d;
  cursor: pointer; }

@media only screen and (max-width: 1024px) {
  form {
    width: 80%;
    height: 95%; } }

@media only screen and (max-width: 500px) {
  form {
    width: 95%; }
  .btn {
    width: 40%; } }

@media only screen and (max-width: 360px) {
  #allign {
    height: 110vh; }
  form {
    width: 100%;
    height: 100%; }
  .btn {
    width: 45%; } }
